# Dependencias instaladas con npm
node_modules

# Archivos creados por el sistema
.DS_Store
Thumbs.db

# Logs y archivos de salida
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cobertura de pruebas
coverage

# Archivos generados durante el proceso de compilación
dist
build
*.tsbuildinfo

# Archivos de entorno
.env
.env.local
.env.*.local
.env.test
.env.production

# Otros
.pnp.*
.pnp.js
*.tgz

# Dependencias específicas del sistema operativo
*.DS_Store
ehthumbs.db
Icon?
Thumbs
