table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

thead {
	background-color: #f5f5f5;
}

th,
td {
	text-align: left;
	padding: 8px;
	border: 1px solid #ddd;
}

th {
	font-weight: bold;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}